.ContentRoot {
	width: 0px;
	height: 0px;
	min-width: 100%;
	min-height: 100%;
	border-style: solid;
	border-color: #454545;
	padding: 10px;
	background-size: 64px 64px;
	background-image: linear-gradient(to right, #09ff0008 1px, #75e02500 2px),
		linear-gradient(to bottom, #56ff0005 1px, transparent 2px);
}
.ContentPage {
	/* width: 0px;
	height: 0px;
	min-width: 1000px;
	min-height: 1000px; */
	border-color: #2601ec;
	padding: 10px;
	background-color: #202020;
	/* background-size: 64px 64px; */
	/* background-image: linear-gradient(to right, #ffffff21 1px,#75e02500 2px), linear-gradient(to bottom, #782cbd 1px, transparent 2px);*/
}

.ContentLayout {
	/* width: 0px;
	height: 0px;
	min-width: 1000px; */
	/* border-style: solid;
	border-color: #ff0000;
	padding: 10px; */
	background-repeat: round;
	background-position-x: 0px;
	background-color: #141111;
	/* background-size: 24px 24px;
	background-image: linear-gradient(to right, #ff000059 1px, #ffffff00 2px),
		linear-gradient(to bottom, #ff000045 1px, #ffffff00 2px); */
}
.ContentGrid {
	/* width: 0px;
	height: 0px;
	min-width: 1000px; */
	border-style: solid;
	border-color: #0b8eff;
	background-color: #2d2121;
	overflow: auto;
	/* padding: 10px;
	background-color: #6a31a91a;
	background-size: 14px 14px;
	background-image: linear-gradient(to right, #ffffff 1px, #ffffff00 2px),
		linear-gradient(to bottom, #ffffff 1px, #ffffff00 2px);
	background-color: #325d84; */
}
.react-transform-component {
	width: 0px !important;
	height: 0px !important;
	min-width: 100%;
	min-height: 100%;
}
.ContentTool {
	background: #222222;
	width: 0px;
	height: 35px;
	min-width: 100%;
}
.Ruller {
	position: absolute;
	z-index: 1;
	background-position: 8px;
	mix-blend-mode: difference;
	background-color: #ffffff;
	background-image: linear-gradient(
			90deg,
			rgba(73, 73, 73, 1) 0,
			rgba(73, 73, 73, 1) 1%,
			transparent 1%
		),
		linear-gradient(180deg, #ffffff 50%, transparent 50%),
		linear-gradient(
			90deg,
			transparent 50%,
			rgba(73, 73, 73, 0.5) 50%,
			rgba(73, 73, 73, 0.5) 52%,
			transparent 52%
		),
		linear-gradient(180deg, #ffffff 70%, transparent 70%),
		linear-gradient(
			90deg,
			transparent 10%,
			rgba(73, 73, 73, 0.4) 10%,
			rgba(73, 73, 73, 0.4) 12%,
			transparent 12%,
			transparent 20%,
			rgba(73, 73, 73, 0.4) 20%,
			rgba(73, 73, 73, 0.4) 22%,
			transparent 22%,
			transparent 30%,
			rgba(73, 73, 73, 0.4) 30%,
			rgba(73, 73, 73, 0.4) 32%,
			transparent 32%,
			transparent 40%,
			rgba(73, 73, 73, 0.4) 40%,
			rgba(73, 73, 73, 0.4) 42%,
			transparent 42%,
			transparent 60%,
			rgba(73, 73, 73, 0.4) 60%,
			rgba(73, 73, 73, 0.4) 62%,
			transparent 62%,
			transparent 70%,
			rgba(73, 73, 73, 0.4) 70%,
			rgba(73, 73, 73, 0.4) 72%,
			transparent 72%,
			transparent 80%,
			rgba(73, 73, 73, 0.4) 80%,
			rgba(73, 73, 73, 0.4) 82%,
			transparent 82%,
			transparent 90%,
			rgba(73, 73, 73, 0.4) 90%,
			rgba(73, 73, 73, 0.4) 92%,
			transparent 92%
		);
	background-size: 50px 20px;
	background-repeat: repeat-x;
	min-height: 14px;

	/* only needed for labels */
	white-space: nowrap;
	font-size: 0;
	margin: 0;
	padding: 0;
}

.Ruller label {
	font-size: 9px;
	padding-top: 2px;
	display: inline-block;
	color: black;
	text-indent: 9px;
	font-weight: bold;
}

.DrawModeFrame {
}
