.ContentRoot {
	width: 0px;
	height: 0px;
	min-width: 100%;
	min-height: 100%;
	border-style: solid;
	border-color: #83c551;
	padding: 10px;
	background-size: 64px 64px;
	background-image: linear-gradient(to right, #09ff00 1px, #75e02500 2px),
		linear-gradient(to bottom, #56ff00 1px, transparent 2px);
}
.ContentRoot {
	width: 0px;
	height: 0px;
	min-width: 100%;
	min-height: 100%;
}
