.ModaleTools {
	display: flex;
	background: #00000014;
	align-items: center;
	padding: 1px;
	border-radius: 6px;
	border-bottom: 1px solid #ffffff14;
	border-top: 2px solid #ffffff14;
}

.ModaleTools span.anticon {
	margin: 1px;
	padding: 2px;
	border-width: 2px;
	border-style: ridge;
	transition: color 600ms;
}
.ModaleTools span.anticon:hover {
	background: #464646;
	border-radius: 4px;
	color: #b3aa3e;
	cursor: pointer;
	border-color: #856041;
}
