.ModuleDragger {
	display: block;
	background: #ffffff12;
	padding: 4px;
	margin: 4px;
	border-radius: 2px;
	border-style: dashed;
	border-color: white;
	border-width: 1px;
	min-width: 100%;
	box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.18);
}
