.NavigatorTop {
}
.NavigatorTop_Group {
	padding: 0px 4px;
}
.NavigatorTop_Page {
	background: #212121;
	margin: 0px;
	transition: color 0.21s, background 0.1s, border-color 0.1s, box-shadow 0.1s;
}

.NavigatorTop_Page:hover {
	color: #fff;
	background: rgba(255, 231, 198, 0.26);
	border-color: rgba(33, 33, 33, 0.70431373);
}
