.OsNav {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.OsMenue {
	-webkit-app-region: no-drag;
}
.OsMenue3 {
	-webkit-app-region: no-drag;
}
.awfawfawfg32 {
	-webkit-app-region: no-drag;
}
