.OsNav {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}
#_aaa {
	background-attachment: fixed;
}
#_bbb {
	background-attachment: fixed;
}
.OsMenue {
	-webkit-app-region: no-drag;
}

img.OsMenue {
	margin-right: 12px;
	background: white;
	border-radius: 2px;
	padding: 2px;
	height: 20px;
}

.ant-dropdown-trigger.OsMenue {
	padding: 2px 10px;
	margin: 0px 1px;
	transition: background 150ms;
}
.ant-dropdown-trigger.OsMenue:hover {
	background: #ffffff14;
}

.OsWin {
	-webkit-app-region: no-drag;
}
.OsWin.button {
	background: #0000001a;
}
.OsWin.button:hover {
	background: #353535;
}
.OsWin.button.btn-exit:hover {
	background: #ff0000a3;
}
