.Disabled {
	pointer-events: none;
	color: #3a3a3a;
}

/* TODO NE SURTOUT PAS UTILISER DE BRAKET POUR LES CLASSNAME DANS REACT (ALLOW PEEK)  */
.ant-dropdown-menu-item {
	transition: all 0ms;
}
.ant-tabs {
	height: 0px;
	min-height: 100%;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
	display: block;
	float: none;
	margin: 0 4px 2px 2px;
	padding: 6px 2px;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-ink-bar,
.ant-tabs .ant-tabs-right-bar .ant-tabs-ink-bar {
	top: 0;
	bottom: auto;
	right: auto;
	width: 1px;
	height: 0;
}

.ant-tabs-ink-bar {
	position: absolute;
	bottom: 1px;
	left: 0;
	z-index: 1;
	box-sizing: border-box;
	width: 0;
	height: 2px;
	background-color: #ffffff;
	transform-origin: 0 0;
}

.ant-tabs-left .ant-tabs-ink-bar-animated,
.ant-tabs-right .ant-tabs-ink-bar-animated {
	transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.ant-tabs .ant-tabs-left-bar {
	float: left;
	margin-right: 0;
	margin-bottom: 0;
	border-right: none;
	background: #1f1f1f;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab:hover {
	background: #ffffff0f;
	mix-blend-mode: hard-light;
	border-radius: 2px;
}

.ant-tabs-nav .ant-tabs-tab-active {
	color: #343434;
	font-weight: 500;
	background: #ffffff24;
}

.ant-tabs .ant-tabs-left-content {
	padding-left: 6px;
	border-left: 1px solid #1d1d1d;
	min-height: 100%;
	background: #1f1f1fa3;
}

.reflex-splitter:hover {
	border-color: #f09323 !important;
	border-style: dashed !important;
}
.reflex-splitter {
	border-color: #646464 !important;
	transition: all 50ms;
}

.ant-radio-checked .ant-radio-inner {
	border-color: #ffffff;
}
.ant-radio-checked .ant-radio-inner::after {
	transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.ant-radio-inner::after {
	background-color: #ffffff;
}

.ant-btn {
	transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-btn:focus {
	color: inherit;
	background-color: inherit;
	border-color: inherit;
}
.ant-btn:not([disabled]):active {
	outline: 0;
	box-shadow: none;
	background: #ffffff0a;
	border-style: double;
	color: #ff7a00a6;
	transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
