.ant-tree.TreeDataBase {
	background: #343434;
	color: #c5c5c5;
}
.TreeDataBase .ant-tree-treenode {
	width: -webkit-fill-available;
}

.TreeDataBase span.ant-tree-node-content-wrapper {
	background: #343434;
	width: -webkit-fill-available;
}
