.ant-tree.TreeDataBase {
	background: #343434;
	color: #c5c5c5;
}
.TreeDataBase .ant-tree-treenode {
	width: -webkit-fill-available;
}

.TreeDataBase span.ant-tree-node-content-wrapper {
	background: #343434;
	width: -webkit-fill-available;
	display: flex;
	white-space: nowrap;
	transition: background-color 250ms;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
	background-color: #ffffff0d !important;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
	background-color: #80462b !important;
	color: white !important;
}

.ant-tree-show-line .ant-tree-switcher {
	z-index: 1;
	background: #ffffff0d;
	border-radius: 4px;
}
