/* Les style globale pour les modules draggable */
.Modules {
	display: block;
	overflow: auto;
	height: -webkit-fill-available;
}
.Modules.tool {
	background: #8b2b00;
	position: absolute;
	z-index: 999;
	margin: 0px 4px;
	padding: 0px 8px;
	border-radius: 0px 0px 4px 4px;
	border-style: outset;
	border-width: 1px;
	border-color: #8b5e25;
}
.ModuleDragger {
	display: block;
	background: #ffffff03;
	padding: 16px 10px 10px;
	margin: 18px 4px;
	border-radius: 2px;
	border-style: dashed;
	border-color: white;
	border-width: 1px;
	min-width: 100%;
	box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.18);
	overflow-x: scroll;
}

.ModuleTitle {
	position: absolute;
	margin-top: -24px;
	background: #363636;
	border-radius: 2px;
	border-style: dashed;
	border-width: 1px;
	padding: 0px 6px;
	display: block;
}
.InputModule {
	background: #202020;
	padding: 4px;
	border-style: groove;
	border-width: 2px;
	display: flex;
	border-color: #383838;
	height: -webkit-fill-available;
}
.InputModuleTool {
	flex-wrap: nowrap;
	display: flex;
}

.Mod_Layout {
	border-style: inset;
	border-color: #6f6f6f;
	border-radius: 6px;
	border-width: 2px;
	padding: 2px;
	box-shadow: 4px -1px 17px 0px rgba(0, 0, 0, 0.75);
}
